.usersPhoto {
    width: 80px;
    height: 80px;
    border-radius: 40px ;
}

.pages{
    cursor: pointer;
    margin: 0 6px;
}

.selectPage {
    font-weight: bold;
    background-color: blueviolet;
}